.box {
    /* height: 200px; */
    width: 200px;
    /* border-style: solid;
    border-color: aqua;
    border-width: 5px;
    border-top-width: 10px; */

    /* border-left-color: blue; */
    border:red solid 3px;
    border-radius: 10px;
    /* border-top-left-radius: 10px;
    border-bottom-right-radius: 10px; */

    text-align: justify;
    padding: 0 10px;

    margin: 20px;
}

.box2 {
    display: inline-block;
    margin: 20px;
}