.box{
    width: 300px;
    height:150px;
    padding:10px 20px 15px 5px;
    border-radius:  10px 0 20px 5px;
     
}
.first-box{
    padding:20px;
    
}
.second-box{
    border:5px solid black;
    
     
}
.third-box{
     margin:30px;
    border-radius: 15px;;
}
box-sizing{
    box-sizing: border-box;
}